body {
}
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url(images/map.png);
    height: 300%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    top: 0;
    left: 0;
}

.modal {
    position: absolute;
    z-index: 500;
    width: 25%;
    height: 25%;
    border: 2px thick solid black;
    background-size: 100% auto;
    background-color: black;
    top: 100%;
}

.hello {
    position: absolute;
    z-index: 500;
    width: 25%;
    height: 25%;
    border: 2px thick solid black;
    background-size: 100% auto;
    background-color: black;
    top: 100%;
}

.myOtherView {
    position: absolute;
    z-index: 500;
    width: 25%;
    height: 25%;
    border: 2px thick solid black;
    background-size: 100% auto;
    background-color: black;
    top: 100%;
}